/*------------Box Sizing--------------*/

html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

/*----------Utility Class----------*/
.container{
  width:70vw;
  margin:40px auto;
  max-width:960px;
}

.img-left{
     float:left;
     border:1px solid #c0c0c0;
     padding:5px;
     border-radius:6px;
     margin-left:20px;
 }

.img-center{
    display:block;
    border:1px solid #c0c0c0;
    padding:5px;
    border-radius:6px;
    margin:20px auto;
}

#additional-elements h3{
    border-left: 10px solid #ffd700;
    padding:5px 10px;
}

table{
    width:100%;
    border:1px solid #c0c0c0;
    border-collapse:collapse;
}
table caption{
    color:#ffd700;
    padding:10px;
    font-weight:bold;
    font-size:1.4rem;
}
table tr:nth-child(even){
    background-color:rgba(0,0,0,0.1);
}

table tr:hover{
    background-color:rgba(0,0,0,0.25);
}

table td{
    border:1px solid #c0c0c0;
    padding:5px;
}
table th{
    background-color:#172635;
    color:#fff;
    width:33%;
    padding:10px;
}


body{
    font-family:"Libre Baskerville", serif;
    margin:0;
    line-height:1.6;
}
header.primary{
    background:#ffd700;
    background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    text-align:center;
    color:#ffffff;
    text-shadow:2px 2px #000000;
    /* T,B,R,L*/
    padding:40px 40px 20px 40px;
}
    
    header.primary h1{
        font-size:2.9rem;
        margin: 20px 0;
        position: relative;
    }
    
header.primary h1 a{
  color:#ffffff;
  text-decoration:none;
  width: 450px;
  height: 70px;
  margin: 0 auto;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
    }
    
    header.primary h2{
        font-size:2em;
        /* Top | Left/Right | Bottom */
        margin: 20px auto 40px;
    }
    
    header.primary nav{
        width:80vw;
        margin:20px auto;
        max-width:900px;
    }
    
    header.primary nav ul{
    padding:0;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    }
    
    header.primary nav ul li{
    list-style-type:none;
    
     }
    header.primary nav ul li a{
    color:#ffffff;
    text-decoration:none;
    background-color:#000000;
    background-color:rgba(0,0,0,0.4);
    padding:8px 16px;
    border-radius: 20px;
    transition: 0.5s;
     }
     
     header.primar nav a:hover,
     header.primar nav a:active{
          background-color:rgba(0,0,0,0.8);
      }
      
      #intro{
        border: 1px dotted #c0c0c0;
        padding-bottom:1rem;
      }
     
     #intro h2{
      color:#ffd700;
    }
     
    #content{
        display:flex;
        flex-direction:row;
        justify-content:space-between;
     }
     
    #content article.post{
        width:30%;
        box-shadow:0 4px 8px rgba(0,0,0,.4);
        padding:0.7em;
        font-size:0.7rem;
        border-radius:10px;
        transition:0.5s;
     }
     
     #content article.post:hover{
         box-shadow:0 8px 16px rgba(0,0,0,.4);
     }
     
     article.post figure{
         margin:0;
     }
     
     article.post time, article.post figcaption, article.post, .post-meta{
         font-size:.8em;
         text-transform:uppercase;
         color:#c0c0c0;
     }
     
     article.post img{
         border-radius:6px;
     }
     
     #content article a:link, #content article a:visited{
         color:#3b638b;
     }
     article.post a:hover, article.post a:active{
         text-decoration:none;
     }
     #additional-elements h2{
         color:#3b638b;
         border-bottom:1px dotted #c0c0c0;
}
     
     #additional-elements a:link, #additional-elements a:visited{
         color:#3b638b;
}

     #additional-elements a:hover, #additional-elements a:active{
         text-decoration:none;
}

     #additional-elements ol{
         list-style-type:lower-roman;
}
     
     #additional-elements ul{
         list-style-type:square;
     }
     
     #additional-elements ul ul{
         list-style-type:disc;
     }
     
     #additional-elements dl{
         
     }
     
     #additional-elements dt{
         font-weight:bold;
         font-size:1.2rem;
         margin-top:20px;
     }
     
     #additional-elements dd{
         margin:0;
         padding-bottom:20px;
     }
     
      dd + dt {
          margin-top:20px;
      }
      
      blockquote{
          background:rgba(0,0,0,.15);
          border:5px double #c0c0c0;
          border-radius:16px;
          font-size:1.2em;
      }
      
      blockquote cite{
          display:block;
          text-align:right;
          font-weight:bold;
          font-size:.6rem;
          padding-top:1rem;
      }
      
     
     /* Attribute Selectors */
     aside[role="complementary"]{
         background-color:#172635;
         color:#fff;
         padding:2.2rem;
     }
     
     aside .container{
         display:flex;
         flex-direction:row;
         justify-content:space-between;
     }
     
     aside article.widget{
         width:45%;
     }
     
     aside a:link{
         color:white;
         display:block;
         margin-top:10px;
     }
     
     aside article.widget footer{
         display:none;
     }
     
     #colophon {
         background-color:#3b638b;
     }
     
     #colophon h6{
         padding:20px;
         margin:0;
         text-align:center;
         color:#fff;
         font-size:.7rem;
         text-transform:uppercase;
         text-shadow:1px 1px #000000;
     }
     
     
     
     
     /* Media Query Example */
     
     @media screen and (max-width:585px) {
         
        header.primary nav ul{
        display:flex;
        flex-direction:column;
        justify-content: space-around;
        margin: 0 auto;
        width: 60vw;
        }
         
         header.primary nav a{
             display:block;
             
         }
         
         header.primary nav li{
             margin-bottom:10px;
         }
         
         
         
         }
         
     
     
     
     
     
     
     
     
     